<%- include('partials/header') %>
<h1>Piroshki Palace and Taco Temple</h1>
<h2>Add to the Collection of Piroshkis and Tacos</h2>
<p>Please note this is a temporary collection and it will not store your sacred goods permanatly.</p>
<a href="piroshkis/"><img src="https://loremflickr.com/320/240/piroshki"></a><a href="tacos/"><img src="https://loremflickr.com/320/240/taco"></a>
<p>Click on the delicious images above to see the offerings!</p>
<%- include('partials/footer') %>