body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

body {
  background-color: #BD3D3A;
  color: wheat;
}
nav {
  background-color: #7F4145;
  font-size: 2em;
  color: wheat;
  height: 10%;
  text-align: right;
}
a {
  color: white;
}

h1 {
  text-decoration-line: underline;
  text-decoration: wavy;
  text-align: center;
  font-size: 2em;
}

img {
  margin: 5px;
}